openapi:                                       3.1.0
servers:
  - url:                                       'https://api.neotomadb.org/'
    description:                               Neotoma production server.
  - url:                                       'https://api-dev.neotomadb.org/'
    description:                               Neotoma development server.
info:
  title:                                       Neotoma API
  version:                                     "2.0-oas3"
  description:                                 API Documentation for the Neotoma Paleoecological Database
  termsOfService:                              'no'
  contact:
    name:                                      Simon J Goring
    email:                                     goring@wisc.edu
    url:                                       'http://goring.org'
  license:
    name:                                      MIT
    url:                                       'https://opensource.org/licenses/MIT'
tags:
  - name:                                      Database tables
    description:                               Endpoints that access tables from Neotoma verbatim.
    externalDocs:
      url:                                     http://open.neotomadb.org/schemas/#Structure
  - name:                                      Chronology metadata
    description:                               Information about chronological controls and the models used to add the temporal component to records.
    externalDocs:
      url:                                     https://neotoma-manual.readthedocs.io/en/latest/tables_chron.html
  - name:                                      Contact metadata
    description:                               Information about Neotoma data contributors, authors and data analysts.
    externalDocs:
      url:                                     https://neotoma-manual.readthedocs.io/en/latest/tables_contacts.html
  - name:                                      Dataset metadata
    description:                               Information about site location and metadata specific to the individual dataset.
    externalDocs:
      url:                                     https://neotoma-manual.readthedocs.io/en/latest/tables_dataset.html
  - name:                                      Data download
    description:                               Full dataset download, including all sample data for a particular dataset.
    externalDocs:
      url:                                     https://neotoma-manual.readthedocs.io/en/latest/tables_samples.html
  - name:                                      Geopolitical metadata
    description:                               Information about the geopolitical units in which a site is located.
  - name:                                      Occurrence metadata
    description:                               A simplified data return, similar to the data download, but specific to a particular taxon, time or location.
  - name:                                      Pollen proportions
    description:                               For ease of use in online applications, pre-calculated pollen percentages for taxa, location or temporal bins.
  - name:                                      Publication metadata
    description:                               Formatted publication data related to Neotoma records.
    externalDocs:
      url:                                     https://neotoma-manual.readthedocs.io/en/latest/tables_publications.html
  - name:                                      Site metadata
    description:                               All metadata associated with a particular site with fossil records.
    externalDocs:
      url:                                     https://neotoma-manual.readthedocs.io/en/latest/tables_site.html
  - name:                                      Taxonomic metadata
    description:                               All available information about a particular taxon.
    externalDocs:
      url:                                     https://neotoma-manual.readthedocs.io/en/latest/tables_taxa.html
  - name:                                      v1.5
    description:                               All API endpoints associated with v1.5 of the Neotoma API.
    externalDocs:
      url:                                     http://github.com/NeotomaDB/api_nodetest
  - name:                                      v2.0
    description:                               All API endpoints associated with v2.0 of the Neotoma API.
    externalDocs:
      url:                                     http://github.com/NeotomaDB/api_nodetest
paths:
  /v1.5/apps/collectionTypes:
    get:
      operationId:                             getCollTypes
      tags:                                    ['Database tables', 'v1.5']
      summary:                                 Return the list of collection types.
      responses:
        '200':
          description:                         Definition generated from Swagger Inspector
          content:
            application/json:
              schema:
                $ref:                          '#/components/schemas/collectionTypes'
  /v1.5/apps/DatasetTypes:
    get:
      tags:                                    ['Database tables', 'v1.5']
      responses:
        '200':
          description:                         Definition generated from Swagger Inspector
          content:
            application/json:
              schema:
                $ref:                          '#/components/schemas/datasetTypes'
  /v1.5/apps/TaxaInDatasets:
    get:
      tags:                                    ['v1.5']
      summary:                                 Lists all Neotoma taxa (alphebetically) and the dataset types in which the taxa appear.
      description:                             This endpoint takes no parameters.
      responses:
        '200':
          description:                         Definition generated from Swagger Inspector
          content:
            application/json:
              schema:
                $ref:                          '#/components/schemas/taxaInDatasets'
  /v1.5/data/contacts/{contactid}:
    get:
      tags:                                    ['Contact metadata', 'v1.5']
      summary:                                 Contact information for Neotoma contributors.
      description:                             Returns researcher contact information associated with a record.
      parameters:
        - name:                                contactid
          description:                         Unique contact identifier.
          in:                                  path
          required:                            true
          schema:
            type:                              integer
            format:                            int64
      responses:
        '200':
          description:                         Contact
          content:
            application/json:
              schema:
                $ref:                        '#/components/schemas/contact'
  /v1.5/data/datasets/{datasetid}:
    get:
      tags:                                    ['Dataset metadata', 'v1.5']
      summary:                                 Dataset information.
      description:                             Returns information about Neotoma dataset
      parameters:
        - $ref:                                '#/components/parameters/datasetidPath'
      responses:
        '200':
          description:                         An array of datasets.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/dataset'
  /v1.5/data/downloads/{datasetid}:
    get:
      tags:                                    ['Data download', 'v1.5']
      summary:                                 Returns the named Neotoma Database table.
      description:                             Returns the named Neotoma Database table.
      parameters:
        - $ref:                                '#/components/parameters/datasetidPath'
      responses:
        '200':
          description:                         Returned download object.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/download'
  /v1.5/data/geopoliticalunits/{gpid}:
    get:
      tags:                                    ['Geopolitical metadata', 'v1.5']
      summary:                                 Returns information about geopolitical units.
      parameters:
        - name:                                gpid
          in:                                  path
          description:                         Numeric ID for the geopolitical unit.
          required:                            true
          schema:
            type:                              integer
      responses:
        '200':
          description:                         An array of geopolitical units.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/geopolitical'
  /v1.5/data/geopoliticalunits:
    get:
      tags:                                    ['Geopolitical metadata', 'v1.5']
      summary:                                 Returns information about geopolitical units.
      parameters:
        - name:                                gpid
          in:                                  query
          description:                         Numeric ID for the geopolitical unit.
          required:                            false
          schema:
            type:                              integer
        - name:                                gpname
          in:                                  query
          description:                         Name of the geopolitical unit.
          required:                            false
          schema:
            type:                              string
        - name:                                rank
          in:                                  query
          description:                         'The unit rank.  Ranges from 1 (country) - 4 (e.g., parks).'
          required:                            false
          schema:
            type:                              integer
        - name:                                lower
          in:                                  query
          description:                         Should all lower ranked units below the target unit be returned?
          required:                            false
          schema:
            type:                              boolean
      responses:
        '200':
          description:                         An array of geopolitical units.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/geopolitical'
  /v1.5/data/occurrence/{occurrenceid}:
    get:
      tags:                                    ['Occurrence metadata', 'v1.5']
      summary:                                 Occurrence information for a taxon and sample.
      description:                             >-
        Given a unique occurrence identifier associated with a unique occurrence in Neotoma, return individual occurrence information for the sample.
      parameters:
        - $ref:                                '#/components/parameters/occurrenceidPath'
      responses:
        '200':
          description:                         A single occurrence object.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/occurrence'
  /v1.5/data/sites/{siteid}:
    get:
      tags:                                    ['Site metadata', 'v1.5']
      summary:                                 Site information.
      description:                             Returns information about Neotoma publications
      parameters:
        - $ref:                                '#/components/parameters/siteidPath'
      responses:
        '200':
          description:                         An array of site elements.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/sites'
  /v1.5/dbtables/{table}:
    get:
      tags:                                    ['Database tables', 'v1.5']
      summary:                                 Returns the named Neotoma Database table.
      description:                             Returns the named Neotoma Database table.  An empty query returns a list of all Neotoma tables.
      parameters:
        - name:                                table
          description:                         Neotoma database table name.
          in:                                  path
          required:                            true
          example:                             "geochrontypes"
          schema:
            type:                              string
      responses:
        '200':
          description:                         Returned table.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/dbtables'
# Version 2.0 Elements:
  /v2.0/apps/collectionTypes:
    get:
      tags:                                    ['Database tables', 'v2.0']
      responses:
        '200':
          description:                         A table of Neotoma collection types.
          content:
            application/json:
              schema:
                $ref:                          '#/components/schemas/collectionTypes'
  /v2.0/data/chronology/{chronid}:
    get:
      tags:                                    ['Chronology metadata', 'v2.0']
      summary:                                 Chronology metadata for a dataset.
      description:                             >-
        Returns the chronology and chronological controls used for a dataset age
        model.
      parameters:
        - $ref:                                '#/components/parameters/chronidPath'
      responses:
        '200':
          description:                         A Neotoma chronology object.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/chronology'
# Returning Contacts
  /v2.0/data/contacts:
    get:
      tags:                                    ['Contact metadata', 'v2.0']
      summary:                                 Contact information for Neotoma contributors.
      description:                             Returns researcher contact information associated with a record.
      parameters:
        - $ref:                                '#/components/parameters/contactidQuery'
        - $ref:                                '#/components/parameters/familyNameQuery'
        - $ref:                                '#/components/parameters/contactNameQuery'
        - $ref:                                '#/components/parameters/contactStatusQuery'
        - $ref:                                '#/components/parameters/limitParam'
        - $ref:                                '#/components/parameters/offsetParam'
      responses:
        '200':
          description:                         contact
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/contact'
  /v2.0/data/datasets/{datasetid}/contacts:
    get:
      tags:                                    ['Contact metadata', 'v2.0']
      summary:                                 Contact information for Neotoma contributors.
      description:                             Returns researcher contact information associated with a record.
      parameters:
        - $ref:                                '#/components/parameters/datasetidPath'
      responses:
        '200':
          description:                         contact
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/contact'
  /v2.0/data/sites/{siteid}/contacts:
    get:
      tags:                                    ['Contact metadata', 'v2.0']
      summary:                                 Contact information for Neotoma contributors based on a known Neotoma site.
      description:                             Given a Neotoma siteid, return all associated contacts.
      parameters:
        - $ref:                                '#/components/parameters/siteidPath'
      responses:
        '200':
          description:                         contact
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/contact'
# Returning Datasets
  /v2.0/data/datasets:
    get:
      tags:                                    ['Dataset metadata', 'v2.0']
      summary:                                 Dataset information.
      description:                             Returns information about Neotoma dataset
      parameters:
        - $ref:                                '#/components/parameters/siteidQuery'
        - $ref:                                '#/components/parameters/contactidQuery'
        - $ref:                                '#/components/parameters/datasettypeQuery'
        - $ref:                                '#/components/parameters/altminQuery'
        - $ref:                                '#/components/parameters/altmaxQuery'
        - $ref:                                '#/components/parameters/locQuery'
        - $ref:                                '#/components/parameters/ageYoungQuery'
        - $ref:                                '#/components/parameters/ageOldQuery'
        - $ref:                                '#/components/parameters/ageOfQuery'
      responses:
        '200':
          description:                         An array of datasets.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/dataset'
  /v2.0/data/sites/{siteid}/datasets:
    get:
      tags:                                    ['Dataset metadata', 'v2.0']
      summary:                                 Dataset information.
      description:                             Returns information about Neotoma dataset
      parameters:
        - $ref:                                '#/components/parameters/siteidPath'
      responses:
        '200':
          description:                         An array of datasets.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/dataset'
  /v2.0/data/datasets/{datasetid}:
    get:
      tags:                                    ['Dataset metadata', 'v2.0']
      summary:                                 Dataset information.
      description:                             Returns information about Neotoma dataset
      parameters:
        - $ref:                                '#/components/parameters/datasetidPath'
      responses:
        '200':
          description:                         An array of datasets.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/dataset'
# Returning Tables
  /v2.0/data/dbtables/{table}:
    get:
      tags:                                    ['Database tables', 'v2.0']
      summary:                                 Returns the full content of a named Neotoma Database table.
      description:                             >
        Returns the named Neotoma Database table.  An empty query will return a
        list of tables.
      parameters:
        - $ref:                                '#/components/parameters/tableQuery'
        - $ref:                                '#/components/parameters/limitParam'
        - $ref:                                '#/components/parameters/offsetParam'
      responses:
        '200':
          description:                         Returned table.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/dbtables'
# Returning Full Records
  /v2.0/data/downloads/{datasetid}:
    get:
      tags:                                    ['Data download', 'v2.0']
      summary:                                 >-
        Returns the named Neotoma Database table. Currently not operational, use
        "occurrences" instead.
      description:                             Returns the named Neotoma Database table.
      parameters:
        - $ref:                                '#/components/parameters/datasetidPath'
      responses:
        '200':
          description:                         Returned download object.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/download'
# Returning Geopolitical Units
  /v2.0/data/sites/{siteid}/geopoliticalunits:
    get:
      tags:                                    ['Geopolitical metadata', 'v2.0']
      summary:                                 Returns information about geopolitical units.
      parameters:
        - $ref:                                '#/components/parameters/siteidPath'
      responses:
        '200':
          description:                         An array of geopolitical units.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/geopolitical'
  /v2.0/data/geopoliticalunits/{gpid}:
    get:
      tags:                                    ['Geopolitical metadata', 'v2.0']
      summary:                                 Returns information about geopolitical units.
      parameters:
        - $ref:                                '#/components/parameters/gpidPath'
      responses:
        '200':
          description:                         An array of geopolitical units.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/geopolitical'
  /v2.0/data/geopoliticalunits:
    get:
      tags:                                    ['Geopolitical metadata', 'v2.0']
      summary:                                 Returns information about geopolitical units.
      parameters:
        - $ref:                                '#/components/parameters/gpidQuery'
        - $ref:                                '#/components/parameters/gpnameQuery'
        - $ref:                                '#/components/parameters/rankQuery'
        - $ref:                                '#/components/parameters/lowergpQuery'
      responses:
        '200':
          description:                         An array of geopolitical units.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/geopolitical'
# Returning Occurrences
  /v2.0/data/occurrences/{occid}:
    get:
      tags:                                    ['Occurrence metadata', 'v2.0']
      summary:                                 Individual occurrence records for Neotoma records.
      description:                             >-
        Returns occurrence information for a particular taxon, geographic region
        or temporal slice.
      parameters:
        - $ref:                                '#/components/parameters/occidPath'
      responses:
        '200':
          description:                         occurrence
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/occurrence'
  /v2.0/data/taxa/{taxonid}/occurrences:
    get:
      tags:                                    ['Occurrence metadata', 'v2.0']
      summary:                                 Individual occurrence records for Neotoma records.
      description:                             >-
        Returns occurrence information for a particular taxon, geographic region
        or temporal slice.
      parameters:
        - $ref:                                '#/components/parameters/taxonidPath'
      responses:
        '200':
          description:                         occurrence
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/occurrence'
  /v2.0/data/occurrences:
    get:
      tags:                                    ['Occurrence metadata', 'v2.0']
      summary:                                 Individual occurrence records for Neotoma records.
      description:                             >-
        Returns occurrence information for a particular taxon, geographic region
        or temporal slice.
      parameters:
        - $ref:                                '#/components/parameters/taxonNameQuery'
        - $ref:                                '#/components/parameters/taxonidQuery'
        - $ref:                                '#/components/parameters/siteidQuery'
        - $ref:                                '#/components/parameters/siteNameQuery'
        - $ref:                                '#/components/parameters/datasettypeQuery'
        - $ref:                                '#/components/parameters/altminQuery'
        - $ref:                                '#/components/parameters/altmaxQuery'
        - $ref:                                '#/components/parameters/locQuery'
        - $ref:                                '#/components/parameters/ageOfQuery'
        - $ref:                                '#/components/parameters/ageYoungQuery'
        - $ref:                                '#/components/parameters/ageOldQuery'
        - $ref:                                '#/components/parameters/limitParam'
        - $ref:                                '#/components/parameters/offsetParam'
      responses:
        '200':
          description:                         occurrence
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/occurrence'
  /v2.0/data/publications:
    get:
      tags:                                    ['Publication metadata', 'v2.0']
      summary:                                 Returns information about Neotoma publications
      description:                             Returns information about Neotoma publications
      parameters:
        - $ref:                                '#/components/parameters/publicationidQuery'
        - $ref:                                '#/components/parameters/datasetidQuery'
        - $ref:                                '#/components/parameters/siteidQuery'
        - $ref:                                '#/components/parameters/familyNameQuery'
        - $ref:                                '#/components/parameters/pubTypeQuery'
        - $ref:                                '#/components/parameters/pubyearQuery'
        - $ref:                                '#/components/parameters/pubsearchQuery'
        - $ref:                                '#/components/parameters/limitParam'
        - $ref:                                '#/components/parameters/offsetParam'
      responses:
        '200':
          description:                         A list of publications.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/publications'
# Returning Sites
  /v2.0/data/sites/{siteid}:
    get:
      tags:                                    ['Site metadata', 'v2.0']
      summary:                                 Site information.
      description:                             Returns information about Neotoma sites.
      parameters:
        - $ref:                                '#/components/parameters/siteidPath'
      responses:
        '200':
          description:                         An array of sites.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/sites'
  /v2.0/data/sites:
    get:
      tags:                                    ['Site metadata', 'v2.0']
      summary:                                 Site information.
      description:                             Returns information about Neotoma sites
      parameters:
        - $ref:                                '#/components/parameters/siteidQuery'
        - $ref:                                '#/components/parameters/siteNameQuery'
        - $ref:                                '#/components/parameters/altMaxQuery'
        - $ref:                                '#/components/parameters/altMinQuery'
        - $ref:                                '#/components/parameters/locQuery'
      responses:
        '200':
          description:                         An array of sites.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/sites'
  /v2.0/data/geopoliticalunits/{gpid}/sites:
    get:
      tags:                                    ['Site metadata', 'v2.0']
      summary:                                 Returns information about sites based on containing geopolitical unit.
      parameters:
        - $ref:                                '#/components/parameters/gpidPath'
      responses:
        '200':
          description:                         An array of geopolitical units.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/sites'
# Returning Taxa
  /v2.0/data/taxa/{taxonid}:
    get:
      tags:                                    ['Taxonomic metadata', 'v2.0']
      summary:                                 Taxonomic information.
      description:                             Returns information about a taxon and (if requested) related taxa.
      parameters:
        - $ref:                                '#/components/parameters/taxonidPath'
      responses:
        '200':
          description:                         A taxon or array of taxa.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/taxa'
  /v2.0/data/taxa:
    get:
      tags:                                    ['Taxonomic metadata', 'v2.0']
      summary:                                 Taxonomic information.
      description:                             Returns information about a taxon and (if requested) related taxa.
      parameters:
        - $ref:                                '#/components/parameters/taxonNameQuery'
        - $ref:                                '#/components/parameters/datasetidQuery'
        - $ref:                                '#/components/parameters/siteidQuery'
      responses:
        '200':
          description:                         A taxon or array of taxa.
          content:
            application/json:
              schema:
                type:                          array
                items:
                  $ref:                        '#/components/schemas/taxa'
components:
  $ref: './swaggerRef/components.yaml'